# Port
VITE_PORT=

# Node environement
NODE_ENV=

# Email environement
VITE_EMAIL_RECEIVER=xxx@xxx.com
VITE_EMAIL_SERVICE_ID=service_xxxxx
VITE_EMAIL_TEMPLATE_ID=template_xxxxx
VITE_EMAIL_PUBLIC_KEY=xxxxx
